body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background: rgb(22, 54, 102);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

h1, h2, h3 {
  color: #f2eded;
}

img {
  max-width: 100%;
  border-radius: 5px;
}

header{
  background-color: rgb(22, 54, 102);
}

nav{
  background-color: rgb(119, 40, 40);
}

footer{
  background-color: rgb(119, 40, 40);
  color:white;
}

#karabukSlider {
  width: 50%;         
  height: 450px;       /* yüksekliği istediğin gibi ayarla */
  overflow: hidden;    /* taşmaları engelle */
  margin: auto;        /* ortalamak için (gerekiyorsa) */
}

#karabukSlider img {
  width: 100%;
  height: 450px;
  object-fit: cover;   /* görüntüyü kırp ama taşırma */
}
